<h3>Vous avez une demande de réservation</h3>

Bonjour {{userOwner.firstname}}! Vous avez une demande de réservation de la part de {{userRenter.firstname}}.
Connectez-vous à votre compte pour confirmer la réservation.

