{% extends 'base.html.twig' %}

{% block title %}Informations utilisateurs{% endblock %}

{% block body %}

      <div class="d-flex justify-content-center mt-5">
            {{ include('partials/card-one-user.html.twig') }}
      </div>

{{ include('partials/footer.html.twig') }}
{% endblock %}